/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: "Rubik", sans-serif;
}
:root {
  --main-color: #02083d;
  --secondary-color: #e5ae21;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}
body {
  background-color: #fafafa;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.boxed {
  width: 100%;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: var(--secondary-color);
}
input,
button {
  box-shadow: none !important;
  outline: none !important;
}
.btn {
  box-shadow: none !important;
  outline: none !important;
}
.header-banner {
  height: 220px;
  background-image: url("../img/banner.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  object-fit: fill;
}
.logo > img {
  max-height: 185px;
  padding-left: 40px;
}
.nav-links {
  padding: 30px;
}
.nav-links > span:not(:first-child) {
  padding-left: 30px;
}
.nav-links > span {
  font-size: 17px;
  text-transform: uppercase;
}
.nav-links > span > a:hover {
  color: var(--secondary-color);
}
.about-pure-glow {
  position: absolute;
  top: 170px;
}
.about-inner {
  width: 68%;
  margin: 0 auto;
}
.search-nav {
  height: 65px;
  background-color: #afafaf;
}
.search-bar {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dadada;
  border-radius: 30px;
}
.search-bar > div:first-child {
  flex: 1;
  padding: 7px;
}
.search-input {
  background-color: #dadada;
  border: none;
  height: 30px;
}
.search-input:focus {
  background-color: #dadada;
}
.srch-icon {
  padding-right: 40px !important;
}
.sec-content {
  width: 95%;
  margin: 0 auto;
}
.cat-content {
  min-height: 350px;
  background-color: #dadada;
  border-radius: 10px;
}
.cat-card {
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
.cat-card:hover {
  background-color: #afafaf;
  border-radius: 10px;
}
.cat-card > div > a {
  color: var(--main-color);
}
.cat-card:not(:first-child) {
  margin-top: 10px;
}
.banner {
  min-height: 350px;
  display: flex;
  align-items: center;
}
.title-bar {
  height: 50px;
  background-color: #afafaf;
}
.no-padding {
  padding: 0px !important;
}
.title-cat {
  background-color: #dadada;
  padding: 3px;
  border-radius: 10px;
  color: var(--main-color);
  font-size: 17px;
}
.product-card {
  padding: 5px;
  cursor: pointer;
}
.product-card:hover + .product-action {
  display: block !important;
  opacity: 1 !important;
}
.prod-name {
  font-weight: bold;
  color: var(--main-color);
}
.prod-price {
  color: var(--secondary-color);
}
.product-img {
  position: relative;
}
.product-action {
  position: absolute;
  bottom: 0px;
  width: 100%;
  transform: translateY(100%);
  transition: all 0.35s ease;
  opacity: 0;
}
.product-action {
  display: flex;
  align-items: center;
}
.act-btn {
  flex: 0.5;
  border-right: none;
  border-top: none;
  border-bottom: none;
  border-radius: 0px !important;
  background-color: var(--secondary-color) !important;
  color: #fff;
}
.show-action {
  opacity: 1 !important;
}
.cat-badge {
  background-color: var(--secondary-color);
  padding: 5px;
  border-radius: 15px;
  color: var(--main-color);
  width: 150px;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
